<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirmación de Reserva</title>
</head>
<body>
    <h2>Confirmación de Reserva</h2>
    <!-- Aquí puedes mostrar una página de confirmación después de completar la reserva -->
    <p>¡Felicidades! Tu reserva ha sido confirmada.</p>
    <p>Número de Confirmación: <span th:text="${numeroConfirmacion}"></span></p>
    <!-- Agregar más detalles según tus necesidades -->
    <a th:href="@{/}">Volver a la Página Principal</a>
</body>
</html>
